/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 8, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 11, ../scss/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 15, ../scss/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 19, ../scss/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 26, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 30, ../scss/_reset.scss */
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

/* line 36, ../scss/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

/* line 44, ../scss/_reset.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, ../scss/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 53, ../scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 65, ../scss/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 70, ../scss/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 73, ../scss/_reset.scss */
del {
  color: #333;
}

/* line 76, ../scss/_reset.scss */
ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 80, ../scss/_reset.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 24px;
  margin-bottom: 1.714285714rem;
}

/* line 87, ../scss/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 94, ../scss/_reset.scss */
sup {
  top: -0.5em;
}

/* line 97, ../scss/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 100, ../scss/_reset.scss */
small {
  font-size: smaller;
}

/* line 103, ../scss/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Clearing floats */
/* line 109, ../scss/_reset.scss */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
  clear: both;
}

/* line 114, ../scss/_reset.scss */
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
  display: table;
  content: "";
}

/* line 4, ../scss/frame.scss */
html {
  font-size: 125%;
}

/* line 8, ../scss/frame.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  color: #444;
  font-size: 16px;
  font-size: 0.8rem;
}
/* line 15, ../scss/frame.scss */
body.custom-background {
  background-color: #f1f1f1;
}
/* line 19, ../scss/frame.scss */
body.article-body {
  border-top: 5px solid #38342b;
}

/* line 24, ../scss/frame.scss */
.site {
  padding: 0 24px;
  padding: 0 1.2rem;
}
/* line 28, ../scss/frame.scss */
body .site {
  margin-bottom: 0;
}
@media screen and (min-width: 600px) {
  /* line 24, ../scss/frame.scss */
  .site {
    margin: 0 auto;
    max-width: 960px;
    max-width: 48rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 960px) {
  /* line 24, ../scss/frame.scss */
  .site {
    padding: 0 40px;
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 24, ../scss/frame.scss */
  .site {
    max-width: 1200px;
    max-width: 60rem;
  }
}

/* line 50, ../scss/frame.scss */
.site-header {
  padding: 24px 0;
  padding: 1.2rem 0;
}

/* line 55, ../scss/frame.scss */
.site-content, .widget-area {
  margin: 24px 0 0;
  margin: 1.2rem 0 0;
}
@media screen and (min-width: 600px) {
  /* line 55, ../scss/frame.scss */
  .site-content, .widget-area {
    float: left;
    width: 65.104166667%;
  }
}

@media screen and (min-width: 600px) {
  /* line 65, ../scss/frame.scss */
  .widget-area {
    float: right;
    width: 26.041666667%;
  }
}
/* line 73, ../scss/frame.scss */
.widget-area .widget {
  margin-bottom: 48px;
  margin-bottom: 2.4rem;
  word-wrap: break-word;
}

/* =Article Page
-------------------------------------------------- */
/* line 82, ../scss/frame.scss */
.article-site-header {
  margin: 50px 0;
  margin: 2.5rem 0;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  /* line 82, ../scss/frame.scss */
  .article-site-header {
    margin-top: 18px;
    margin-top: .9rem;
  }
}

/* line 93, ../scss/frame.scss */
.article-wrap {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  /* line 93, ../scss/frame.scss */
  .article-wrap {
    width: 912px;
    margin: 40px auto;
    margin: 2rem auto;
  }
}
/* line 104, ../scss/frame.scss */
.article-wrap .article-header {
  margin-bottom: 24px;
  margin-bottom: 1.2rem;
}

/* line 109, ../scss/frame.scss */
.article-pagination {
  clear: both;
  width: 85%;
  margin: 40px auto 20px;
  margin: 2rem auto 1rem;
  text-align: center;
}

/* line 117, ../scss/frame.scss */
footer[role='contentinfo'] {
  clear: both;
  /*max-width: 960px;
  max-width: 48rem;*/
  margin-top: 24px;
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  padding: .5rem 0;
  font-size: 13px;
  font-size: .65rem;
  line-height: 2;
  border-top: 1px solid #33B5E5;
}
/* line 132, ../scss/frame.scss */
footer[role='contentinfo'] p {
  text-align: center;
}

/* =Repeatable Patterns
------------------------------------------------------- */
/* Custom */
/* line 8, ../scss/custom.scss */
a {
  text-decoration: none;
  color: #33B5E5;
}

/* line 9, ../scss/custom.scss */
a:hover {
  text-decoration: underline;
  color: #33B5E5;
}

/* Buttons */
/* line 12, ../scss/custom.scss */
.menu-toggle {
  background-color: #09c;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmYWRkYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTljYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2faddb), color-stop(100%, #0099cc));
  background-image: -moz-linear-gradient(#2faddb, #0099cc);
  background-image: -webkit-linear-gradient(#2faddb, #0099cc);
  background-image: linear-gradient(#2faddb, #0099cc);
  border: 1px solid #3990ab;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-size: .6rem;
  display: inline-block;
  padding: 8px 10px;
  padding: .4rem .5rem;
}
/* line 28, ../scss/custom.scss */
.menu-toggle.toggle-on {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #e1e1e1));
  background-image: -moz-linear-gradient(#ebebeb, #e1e1e1);
  background-image: -webkit-linear-gradient(#ebebeb, #e1e1e1);
  background-image: linear-gradient(#ebebeb, #e1e1e1);
  box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
  border: none;
  color: #757575;
}
/* line 35, ../scss/custom.scss */
.menu-toggle:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYmNkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRjYWRjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5dbcd9), color-stop(100%, #4cadcb));
  background-image: -moz-linear-gradient(#5dbcd9, #4cadcb);
  background-image: -webkit-linear-gradient(#5dbcd9, #4cadcb);
  background-image: linear-gradient(#5dbcd9, #4cadcb);
  color: #fff;
}

@media screen and (min-width: 600px) {
  /* line 41, ../scss/custom.scss */
  .menu-toggle {
    display: none;
  }
}

/* Small Header */
/* line 48, ../scss/custom.scss */
.widget-title, .archive-title {
  font-weight: bolder;
  font-size: 12px;
  font-size: .6rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: .8px;
  color: #636363;
}

/* =Detail Structure
------------------------------------------------------- */
/* Header */
/* line 63, ../scss/custom.scss */
.site-header h1 {
  font-size: 24px;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 14px;
  margin-bottom: 0.7rem;
  text-align: center;
}
/* line 72, ../scss/custom.scss */
.site-header h1 a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
/* line 77, ../scss/custom.scss */
.site-header h1 a:hover {
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  /* line 63, ../scss/custom.scss */
  .site-header h1 {
    font-size: 26px;
    font-size: 1.3rem;
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
}

/* line 93, ../scss/custom.scss */
.main-navigation {
  margin-top: 24px;
  margin-top: 1.2rem;
  text-align: center;
}
/* line 98, ../scss/custom.scss */
.main-navigation ul.nav-menu {
  display: none;
  margin: 0;
}
/* line 102, ../scss/custom.scss */
.main-navigation ul.nav-menu.toggle-on {
  display: inline-block;
  padding-left: 0;
}
/* line 108, ../scss/custom.scss */
.main-navigation li {
  margin-top: 24px;
  margin-top: 1.2rem;
  font-size: 12px;
  font-size: .6rem;
  line-height: 1.48;
}
/* line 115, ../scss/custom.scss */
.main-navigation li.current-page-item a {
  color: #1982d1;
  border-bottom: 4px solid #33B5E5;
  margin-bottom: -4px;
}
/* line 121, ../scss/custom.scss */
.main-navigation li a {
  color: #757575;
}
/* line 124, ../scss/custom.scss */
.main-navigation li a:hover {
  color: #21759b;
}
@media screen and (min-width: 600px) {
  /* line 132, ../scss/custom.scss */
  .main-navigation {
    margin-top: 40px;
    margin-top: 2rem;
  }
  /* line 137, ../scss/custom.scss */
  .main-navigation ul.nav-menu {
    display: block;
    border-bottom: 1px solid #33B5E5;
    text-align: left;
    width: 100%;
    margin: 0;
    text-indent: 0;
    clear: both;
  }
  /* line 147, ../scss/custom.scss */
  .main-navigation li {
    position: relative;
    margin: 0 20px 0 0;
    margin: 0 2rem 0 0;
    display: inline-block;
    text-decoration: none;
  }
  /* line 155, ../scss/custom.scss */
  .main-navigation li a {
    display: inline-block;
    border-bottom: 0;
    line-height: 3.69;
    text-transform: uppercase;
    white-space: nowrap;
  }
  /* line 162, ../scss/custom.scss */
  .main-navigation li a:hover {
    text-decoration: none;
    color: #000;
  }
}

/* Widget */
/* line 174, ../scss/custom.scss */
.widget-area .widget h3 {
  margin-bottom: 20px;
  margin-bottom: 1rem;
}
/* line 179, ../scss/custom.scss */
.widget-area .widget .textWidget, .widget-area .widget li {
  font-size: 14px;
  font-size: .7rem;
  line-height: 1.71428571;
}
/* line 184, ../scss/custom.scss */
.widget-area .widget a {
  color: #757575;
}
/* line 187, ../scss/custom.scss */
.widget-area .widget a:hover {
  color: #21759b;
}
/* line 193, ../scss/custom.scss */
.widget-area .widget .tag-cloud a {
  font-size: 14px;
  font-size: .7rem;
}
/* line 198, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+1) {
  font-size: 26px;
  font-size: 1.3rem;
}
/* line 202, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+2) {
  font-size: 15px;
  font-size: .75rem;
}
/* line 206, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+3) {
  font-size: 24px;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 211, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+4) {
  font-size: 13px;
  font-size: .65rem;
}
/* line 215, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+5) {
  font-size: 22px;
  font-size: 1.1rem;
}
/* line 219, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+6) {
  font-size: 18px;
  font-size: .9rem;
}
/* line 223, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+7) {
  font-size: 12px;
  font-size: .6rem;
}
/* line 227, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+8) {
  font-size: 28px;
  font-size: 1.4rem;
  font-weight: bold;
}
/* line 232, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+9) {
  font-size: 14px;
  font-size: .7rem;
}
/* line 236, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+10) {
  font-size: 16px;
  font-size: .8rem;
}
/* line 240, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+11) {
  font-size: 20px;
  font-size: 1rem;
}
/* line 244, ../scss/custom.scss */
.widget-area .widget .tag-cloud a:nth-child(13n+12) {
  font-size: 17px;
  font-size: .85rem;
}

/* Archives */
/* line 253, ../scss/custom.scss */
.archive-header {
  margin-bottom: 48px;
  margin-bottom: 2.4rem;
  padding-bottom: 22px;
  padding-bottom: 1.1rem;
  border-bottom: 1px solid #ededed;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

/*  Archives Article */
/* line 264, ../scss/custom.scss */
.site-content article, .widget-area article {
  margin-bottom: 72px;
  margin-bottom: 3.6rem;
  padding-bottom: 24px;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #ededed;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  word-wrap: break-word;
}
/* line 273, ../scss/custom.scss */
.site-content nav.page-navigation, .widget-area nav.page-navigation {
  position: relative;
  overflow: hidden;
  clear: both;
}

/* line 279, ../scss/custom.scss */
.nav-previous {
  float: left;
  text-align: left;
}

/* line 283, ../scss/custom.scss */
.nav-next {
  float: right;
  text-align: right;
}

/* line 288, ../scss/custom.scss */
.archive-meta {
  color: #757575;
  font-size: 12px;
  font-size: .6rem;
  line-height: 2;
  margin-top: 16px;
  margin-top: .8rem;
}
@media screen and (min-width: 600px) {
  /* line 288, ../scss/custom.scss */
  .archive-meta {
    margin-top: 20px;
    margin-top: 1rem;
  }
}

/* =Main content and comment content
------------------------------------------------- */
/* line 304, ../scss/custom.scss */
.entry-header {
  margin-bottom: 24px;
  margin-bottom: 1.2rem;
}
/* line 308, ../scss/custom.scss */
.entry-header .entry-title {
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
}
/* line 314, ../scss/custom.scss */
.entry-header .entry-title a {
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  /* line 308, ../scss/custom.scss */
  .entry-header .entry-title {
    font-size: 22px;
    font-size: 1.1rem;
  }
}

/* line 324, ../scss/custom.scss */
.comment-link {
  font-size: 14px;
  font-size: .7rem;
  line-height: 1.714285714;
  margin-top: 20px;
  margin-top: 1rem;
  color: #757575;
}
@media screen and (min-width: 600px) {
  /* line 324, ../scss/custom.scss */
  .comment-link {
    margin-top: 14px;
    margin-top: 1.2rem;
  }
}

/* line 338, ../scss/custom.scss */
.comment-link a, .entry-meta a, .article-meta a {
  color: #757575;
}
/* line 340, ../scss/custom.scss */
.comment-link a:hover, .entry-meta a:hover, .article-meta a:hover {
  color: #21759b;
}

/* line 346, ../scss/custom.scss */
.entry-content, .article-content {
  position: relative;
  line-height: 1.714285714;
  font-size: 14px;
  font-size: .7rem;
  /* UL OL LI */
  /*<pre> <code>*/
  /* QUOTES */
}
/* line 352, ../scss/custom.scss */
.entry-content p, .article-content p {
  margin-bottom: 12px;
  margin-bottom: .6rem;
  line-height: 1.714285714;
}
@media screen and (min-width: 600px) {
  /* line 352, ../scss/custom.scss */
  .entry-content p, .article-content p {
    margin-bottom: 16px;
    margin-bottom: .8rem;
  }
}
/* line 363, ../scss/custom.scss */
.entry-content img, .article-content img {
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: auto;
}
/* line 372, ../scss/custom.scss */
.entry-content ul, .entry-content ol, .article-content ul, .article-content ol {
  margin-bottom: 8px;
  margin-bottom: .4rem;
  padding-left: 30px;
  padding-left: 1.5rem;
}
/* line 378, ../scss/custom.scss */
.entry-content ul, .article-content ul {
  list-style: disc;
}
/* line 380, ../scss/custom.scss */
.entry-content ul ul, .article-content ul ul {
  list-style: circle;
}
/* line 384, ../scss/custom.scss */
.entry-content ol, .article-content ol {
  list-style: decimal;
}
/* line 389, ../scss/custom.scss */
.entry-content pre, .entry-content code, .entry-content tt, .article-content pre, .article-content code, .article-content tt {
  font-size: 12px;
  font-size: .6rem;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
/* line 395, ../scss/custom.scss */
.entry-content code, .entry-content tt, .article-content code, .article-content tt {
  margin: 0 0px;
  padding: 0px 4px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
/* line 404, ../scss/custom.scss */
.entry-content pre, .article-content pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  margin-bottom: 10px;
  margin-bottom: .5rem;
  border-radius: 3px;
}
/* line 415, ../scss/custom.scss */
.entry-content pre code, .article-content pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
/* line 424, ../scss/custom.scss */
.entry-content pre code, .entry-content pre tt, .article-content pre code, .article-content pre tt {
  background-color: transparent;
  border: none;
}
/* line 430, ../scss/custom.scss */
.entry-content blockquote, .article-content blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
/* line 435, ../scss/custom.scss */
.entry-content blockquote:first-child, .article-content blockquote:first-child {
  margin-top: 0px;
}
/* line 439, ../scss/custom.scss */
.entry-content blockquote:last-child, .article-content blockquote:last-child {
  margin-bottom: 0px;
}

/* line 445, ../scss/custom.scss */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
  border-left: 3px solid #33B5E5;
  padding-left: 5px;
  margin-left: -8px;
  margin-top: 20px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: .8rem;
  line-height: 1.714285714;
}
@media screen and (min-width: 600px) {
  /* line 445, ../scss/custom.scss */
  .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
    margin-top: 24px;
    margin-top: 1.2rem;
    margin-bottom: 20px;
    margin-bottom: 1rem;
  }
}
/* line 464, ../scss/custom.scss */
.entry-content h1, .article-content h1 {
  font-size: 22px;
  font-size: 1.1rem;
  line-height: 1.431818182;
}
/* line 469, ../scss/custom.scss */
.entry-content h2, .article-content h2 {
  font-size: 18px;
  font-size: .9rem;
  line-height: 1.6;
}
/* line 474, ../scss/custom.scss */
.entry-content h3, .article-content h3 {
  font-size: 16px;
  font-size: .8rem;
  line-height: 1.846153846;
}
/* line 479, ../scss/custom.scss */
.entry-content h4, .article-content h4 {
  font-size: 14px;
  font-size: .7rem;
  line-height: 1.846153846;
}
/* line 484, ../scss/custom.scss */
.entry-content h5, .article-content h5 {
  font-size: 13px;
  font-size: .65rem;
  line-height: 1.846153846;
}
/* line 489, ../scss/custom.scss */
.entry-content h6, .article-content h6 {
  font-size: 12px;
  font-size: .6rem;
  line-height: 1.846153846;
}

/* line 496, ../scss/custom.scss */
.entry-meta, .article-meta {
  clear: both;
  margin-top: 26px;
  margin-top: 1.3rem;
  font-size: 14px;
  font-size: .7rem;
  line-height: 1.714285714;
  color: #757575;
}

/* =Article Detail
------------------------------------------------- */
/* line 509, ../scss/custom.scss */
.article-site-title {
  display: block;
  color: #000;
  font-size: 24px;
  font-size: 1.2rem;
  line-height: 1.5;
  background: #33B5E5;
  float: left;
  padding: 7px 24px 7px 36px;
  padding: .35rem 1.2rem .35rem 1.8rem;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 521, ../scss/custom.scss */
.article-site-title a {
  color: #fff;
  text-decoration: none;
}

/* line 527, ../scss/custom.scss */
.article-title {
  color: #33B5E5;
  font-size: 30px;
  font-size: 1.5rem;
}

/* line 534, ../scss/custom.scss */
.article-pagination div {
  display: inline-block;
  margin: 8px;
  margin: .4rem;
  text-align: center;
  font-size: 16px;
  font-size: .8rem;
  line-height: 1.75;
}
/* line 543, ../scss/custom.scss */
.article-pagination div a {
  display: block;
  text-decoration: none;
  padding: 0 6px;
  padding: 0 .3rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 550, ../scss/custom.scss */
.article-pagination div a:hover {
  color: #fff;
  background: #33B5E5;
}

/* line 558, ../scss/custom.scss */
#fn_article_nav {
  position: absolute;
  top: 10px;
  top: .5rem;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: .8;
  z-index: 1;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 571, ../scss/custom.scss */
#fn_article_nav:hover {
  opacity: 1;
}
/* line 575, ../scss/custom.scss */
#fn_article_nav li {
  display: none;
  list-style: none;
  padding: 3px;
  margin: 0;
  font-size: 12px;
  font-size: .6rem;
  border-left: 2px solid #fff;
}
/* line 585, ../scss/custom.scss */
#fn_article_nav li a {
  display: block;
  color: #33B5E5;
  text-decoration: none;
}
/* line 591, ../scss/custom.scss */
#fn_article_nav li:first-child {
  display: block;
}
/* line 595, ../scss/custom.scss */
#fn_article_nav li:hover {
  border-left-color: #33B5E5;
}
/* line 600, ../scss/custom.scss */
#fn_article_nav.fn_article_nav_toggle li {
  display: block;
}
